<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Twitter Clone App</h1>
<h2>Welcome, {{.Name}}</h2>
<p><a href="/users">View All Users</a> </p>
<p><a href="/tweet">Tweet!</a></p>
<p><a href="/logout">Log Out</a></p>
<div>
    <p><b>Feed:</b></p>
    {{range $i, $t := .Feed}}
        <p>{{$t.Content}}</p>
        <p><a href="/user/{{$t.UserId}}">{{$t.CreatedBy}}</a> {{$t.CreatedAt}} </p>
        <hr>
    {{end}}

</div>
<p><b>My Tweets:</b></p>
<div>
{{range $i, $t := .MyTweets}}
    <p>{{$t.Content}}</p>
    <p><a href="/user/{{$t.UserId}}">{{$t.CreatedBy}}</a> {{$t.CreatedAt}} </p>
    <hr>
{{end}}

</div>
</body>
</html>