<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div class="container">
    <h1><a href="/">Twitter Clone App</a></h1>
    <h2>Welcome, {{.Name}}</h2>
    <nav class="navbar navbar-expand-lg bg-light">
        <ul class="nav navbar-nav  mr-auto">
            <li class="nav-item"><a class="nav-link" href="/users">View All Users</a></li>
            <li class="nav-item"><a class="nav-link" href="/tweet">Tweet!</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
        </ul>
    </nav>
    <div>
        <p><b>Feed:</b></p>
        {{range $i, $t := .Feed}}
            <p>{{$t.Content}}</p>
            <p><a href="/user/{{$t.CreatedBy}}">{{$t.CreatedBy}}</a> {{$t.CreatedAt}} </p>
            <hr>
        {{end}}

    </div>
</div>

</body>
</html>