<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Distributed System Project</title>
</head>
<body>
<div class="container">    <h1><a href="/">Twitter Clone App</a></h1>
    <p><a href="/login">Log In</a></p>
    <p><a href="/signup">Sign Up</a></p>
</div>
</body>
</html>